body{
    background: #003b97;
}

.title{
    width:100%;
    text-align: center;
    font-size: 48px;
}

.badges{
    width: 100%;
    margin: 0 auto;
    padding-left:64px;
}


.achievement-container{
    width:10%;
    height:auto;
    float:left;
    margin:5px;
}

.achievement {
    width: 100%;
    height: auto;
}

.achievement.locked {
    filter: brightness(20%);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
